.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    grid-column: 2;
}

.login-form-wrapper {
    display: grid;
    grid-template-columns: auto 80% auto;
}