.icon-button {
    display: grid;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.icon-button:hover {
    background-color: #eee;
}

.icon-button:active {
    transform: scale(0.95);
}
